# Ignore everything by default
*

# This file
!.gitignore

# Window manager + keybindings + colors
!hypr/
!hypr/**

# Shell UI + widgets
!quickshell/
!quickshell/**

# Quickshell runtime config
!illogical-impulse/
!illogical-impulse/config.json

# Terminal
!kitty/theme.conf
!kitty/kitty.conf

# System monitor
!btop/
!btop/btop.conf

# Audio visualizer
!cava/
!cava/**

# Editor
!nvim/
!nvim/**
